.body-content {
    width: 85%;
    margin: 50px auto;
}

.content-block {
    margin-top: 50px;
}

.deadline-card, .solution-card {
    border: 1px solid #000;
    border-radius: 30px;
}

.deadline-card {
    width: 100%;
    margin-top: 30px;
    position: relative;
    min-height: 200px;
}

.deadline-card .content, .solution-card .content {
    padding: 15px 20px;
}

.deadline-card .header h5 {
    display: inline-block;
}

.deadline-card .header .deadline-date {
    float: right;
}

.deadline-card .description {
    display: block;
    width: 70%;
    margin-bottom: 30px;
}

.deadline-card .more {
    position: absolute;
    bottom: 15px;
}

a.view-all {
    font-weight: 600;
    display: block;
    font-size: 18px;
    margin-top: 20px;
}

.solution-card {
    margin-top: 20px;
    width: 250px;
    display: inline-block;
    min-height: 150px;
    position: relative;
    display: inline-block;
    margin-left: 30px;
}

.solution-card.most-left {
    margin-left: 0;
}

.solution-card h5 {
    font-size: 16px;
    font-weight: 400;
}

.solution-card .title {
    font-size: 18px;
    font-weight: 500;
}

.solution-card .date {
    color: #22cc22;
    position: absolute;
    bottom: 10px;
}



