{% extends 'base.html' %}
{% load static %}

{% block title %}
    Главная
{% endblock %}

{% block req %}
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

{% include 'header.html' %}

    <main class="body-content">
        <div class="content-block deadlines">
            <h3>Ближайшие дедлайны:</h3>
            
            {% for task in taskData %}
            <div class="deadline-card">
                <div class="content">
                    <div class="header">
                        <h5 class="title">{{task.name}}</h5>
                        <h5 class="deadline-date">Дедлайн: {{task.deadline}}</h5>
                    </div>
                    <span class="description">
                        {{task.desc}}
                    </span>
                    <span class = "groups">
                        Группы: 
                        {% for name in task.group.all %}
                        {{name}} 
                        {% endfor %}
                    </span>
                    <a href="{% url 'deadline_page' %}?id={{task.id}}" class="more">Подробнее...</a>
                </div>
            </div>
            {% endfor %}
            <a href="{% url 'deadlines' %}" class="view-all">Посмотреть все</a>
        </div>

        <div class="content-block solutions" style="margin-bottom: 70px;">
            <h3>Последние решения:</h3>
            <div class="solution-card most-left">
                <div class="content">
                    <a href="{% url 'solution_page' %}?id=1"><h5 class="title">Название задания</h5></a>
                    <h5 class="student">Иван Иванов, M3100</h5>
                    <h5 class="date">23:59 01.01.2021</h5>
                </div>
            </div>
            <div class="solution-card">
                <div class="content">
                    <a href="{% url 'solution_page' %}?id=1"><h5 class="title">Название задания</h5></a>
                    <h5 class="student">Иван Иванов, M3100</h5>
                    <h5 class="date">23:59 01.01.2021</h5>
                </div>
            </div>
            <div class="solution-card">
                <div class="content">
                    <a href="{% url 'solution_page' %}?id=1"><h5 class="title">Название задания</h5></a>
                    <h5 class="student">Иван Иванов, M3100</h5>
                    <h5 class="date">23:59 01.01.2021</h5>
                </div>
            </div>
            <a href="{% url 'solutions' %}" class="view-all">Посмотреть все</a>
        </div>

    </main>

{% endblock %}